.LearningPage {

    padding: 25px;
    margin-top: 105px;
    @media only screen and (max-width: 991px) {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-title {
                font-size: 14px;
                font-weight: bolder;
                color: #232156;
                text-transform: uppercase;
            }

            .vertical-line {
                height: 2px;
                width: 20%;
                background-color: #232156;
            }
        }

        .round {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #232156;

            .round-content {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #f39520;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;


        margin-top: 50px;
        .header-title {
            font-size: 30px;
            font-weight: bolder;
            color: #f39520;
            text-transform: uppercase;
        }

        .vertical-line {
            height: 2px;
            width: 30%;
            background-color: #f39520;
        }
    }

    .round {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f39520;

        .round-content {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #232156;
        }
    }

    .bigTitle {
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        color: #232156;
        margin-bottom: 35px;
    }
    .bannerSide {
        display: 'flex';
        justify-content:  'center';
        align-items: 'center';

        width: 100%;
        height: 250px;
        
        .sliderItem {
            height: 250px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .buttonLeft {
        position: absolute;
        top: 60%;
        left: 40px;
        width: 30px;
        height: 30px;

        display: 'flex';
        justify-content:  'center';
        align-items: 'center';
        border-radius: 100%;
        background-color: #232156;
        color: #fff;
        z-index: 99;
        cursor: pointer;
        text-align: center;
        i {
            margin-top: 5px;
        }
    }
    .buttonRight {
        position: absolute;
        top: 60%;
        right: 40px;

        width: 30px;
        height: 30px;

        display: 'flex';
        justify-content:  'center';
        align-items: 'center';
        border-radius: 100%;
        background-color: #232156;
        color: #fff;
        z-index: 99;
        cursor: pointer;
        text-align: center;
        i {
            margin-top: 5px;
        }
    }

    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;

        .galleryItem {
            width: calc(100% / 3);
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;

            

            .itemIllustration {
                width: 100%;
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50px;
                
            }

            .itemTitle {
                color: #fff;
                font-size: 17px;
                font-weight: bolder;
               
                text-align: center;
                background: rgb(35, 33, 86, .8);
                padding: 5px 30px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }

    .f-item {
        width: 100%;
        padding: 15px 0;
        margin-bottom: 25px;
        

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .f-item-leftSide {
            width: 30%;
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            .content {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: column;
                background-color: rgba($color: #000000, $alpha: .2);
                border-radius: 10px;

                .itemTitle {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bolder;
    
                    position: absolute;
                    bottom: 0;
                    left: 8%;
                   
                    text-align: center;
                    background: rgba(243, 149, 32, .8);
                    padding: 5px 10px;
                    width: 84%;
                }
            }
        }

        .f-item-rightSide {
            padding:0 15px;
            width: 70%;
            height: 200px;

            .gal {
                display: flex;
                align-items: center;
                justify-content: center;
        
                .galItem {
                    width: calc(100% / 3);
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
        
                    
        
                    .itemIllustration {
                        width: 100%;
                        height: 200px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 10px;
                        
                    }
        
                    .itemTitle {
                        color: #fff;
                        font-size: 17px;
                        font-weight: bolder;
                       
                        text-align: center;
                        background: rgb(35, 33, 86, .8);
                        padding: 5px 30px;
                        border-bottom-left-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                }
            }
        }
    }
}